/* Modal Background */
.modal {
  display: none; /* escondido por padrão */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  justify-content: center;
  align-items: center;
}
.modal.show {
  display: flex; /* visível apenas quando necessário */
}


/* Container do conteúdo do modal */
.modal-container {
  background-color: transparent;
  padding: 20px;
  width: auto;
  position: relative;
}

/* Botão de fechar */
.modal-close-btn {
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 1001;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* Container interno do modal (reutiliza estrutura principal) */
.modal-content-box.container {
  position: relative;
  background-color: #25252b;
  width: 750px;
  height: 450px;
  border: 2px solid #ffd000;
  box-shadow: 0 0 25px #ffd000;
  overflow: hidden;
}

/* Formulários do modal */
.modal-form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal-form-box.Login {
  left: 0;
  padding: 0 40px;
}

.modal-form-box.Login .animation {
  transform: translateX(0%);
  transition: .7s;
  opacity: 1;
  transition-delay: calc(.1s * var(--S));
}

.modal-content-box.container.active .modal-form-box.Login .animation {
  transform: translateX(-120%);
  opacity: 0;
  transition-delay: calc(.1s * var(--D));
}

.modal-form-box.Register {
  right: 0;
  padding: 0 60px;
}

.modal-form-box.Register .animation {
  transform: translateX(120%);
  transition: .7s ease;
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.1s * var(--S));
}

.modal-content-box.container.active .modal-form-box.Register .animation {
  transform: translateX(0%);
  opacity: 1;
  filter: blur(0px);
  transition-delay: calc(.1s * var(--li));
}

/* Títulos */
.modal-form-box h2 {
  font-size: 32px;
  text-align: center;
}

/* Inputs */
.modal-input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin-top: 25px;
}

.modal-input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  border-bottom: 2px solid #fff;
  padding-right: 23px;
  transition: .5s;
}

.modal-input-box input:focus,
.modal-input-box input:valid {
  border-bottom: 2px solid #ffd000;
}

.modal-input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: #fff;
  transition: .5s;
}

.modal-input-box input:focus ~ label,
.modal-input-box input:valid ~ label {
  top: -5px;
  color: #ffd000;
}

.modal-input-box box-icon {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 18px;
  transform: translateY(-50%);
  color: #fff;
}

.modal-input-box input:focus ~ box-icon,
.modal-input-box input:valid ~ box-icon {
  color: #ffd000;
}

/* Botões */
.modal-btn {
  position:relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #ffd000;
  overflow: hidden;
  z-index: 1;
}

.modal-btn::before {
  content: "";
  position: relative;
  height: 300%;
  width: 100%;
  background: linear-gradient(#25252b, #ffd000, #25252b, #ffd000);
  top: -100%;
  left: 0;
  z-index: -1;
  transition: .5s;
}

.modal-btn:hover::before {
  top: 0;
}

/* Link de registro */
.modal-regi-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 10px;
}

.modal-regi-link a {
  text-decoration: none;
  color: #ffd000;
  font-weight: 600;
}

.modal-regi-link a:hover {
  text-decoration: underline;
}

/* Texto informativo */
.modal-info-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal-info-content.Login {
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
}

.modal-info-content.Login .animation {
  transform: translateX(0);
  transition: .7s ease;
  transition-delay: calc(.1s * var(--S));
  opacity: 1;
  filter: blur(0px);
}

.modal-content-box.container.active .modal-info-content.Login .animation {
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.1s * var(--D));
}

.modal-info-content.Register {
  left: 0;
  text-align: left;
  padding: 0 150px 60px 38px;
  pointer-events: none;
}

.modal-info-content.Register .animation {
  transform: translateX(-120%);
  transition: .7s ease;
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(.1s * var(--S));
}

.open-modal {
  position: relative; 
  left: 310px;
  margin: 45px;
  width: 30%;
  height: 45px;
  background:linear-gradient(90deg,var(--accent),var(--accent-2));
  color:#000000;
  border-radius: 14px;
  cursor: pointer;
  font-size: 16px;
  font-weight:700;
  overflow: hidden;
  z-index: 1;
}

.open-modal:hover::before {
  top: 0;
}